<!-- Primary Top Bar -->
<header class="top-bar-1">
    <div class="container">
        <div class="top-bar-1-content">
            <span class="app-title">Integrated Property Management &amp; Billing ERP System</span>
            <div class="top-bar-1-right">
                <!-- Add user info, notifications, etc. here -->
            </div>
        </div>
    </div>
</header>

