@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<p>User management functionality will be implemented here.</p>

<div class="info-box">
    <p>This page will contain user setup and configuration options.</p>
</div>

