@model PMS.Web.Models.Configuration

@{
    ViewData["Title"] = "Edit Configuration";
}

<h2>Edit Configuration</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConfigKey" class="control-label"></label>
                <input asp-for="ConfigKey" class="form-control" />
                <span asp-validation-for="ConfigKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigValue" class="control-label"></label>
                <input asp-for="ConfigValue" class="form-control" />
                <span asp-validation-for="ConfigValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
